<!-- <app-hero-sec></app-hero-sec>
-->
<router-outlet></router-outlet>

<carousel-component>
	<div class="item-carousel">
		<div class="b">
			<img height= '422px' width= "422px" src="/assets/rental1.jpeg">
		</div> 
	</div>
	<div class="item-carousel">
		<div class="b">
			<img height= '422px' width= "422px" src="/assets/rental2.jpeg">
		</div> 
	</div>
	<div class="item-carousel">
		<div class="b">
			<img height= '422px' width= "422px" src="/assets/rental3.jpg">
		</div> 
	</div>
	
	<div class="item-carousel">
		<div class="b">
			<img height= '422px' width= "422px" src="/assets/rental4.jpeg">
		</div> 
	</div>
</carousel-component>